<!doctype html>
<html lang="en">
<head>
<style>
body {background-color: GREY;}
h1  {color: blue;}
    font-family: verdana;
    font-size: 300%;
}

p {
    color: red;
    font-family: courier;
    font-size: 160%;
}

</style>
<title> my web page </title>
<meta name = "description"content="This is a webpage about piano and voice lessons for upcoming artiste." />

<meta name="keywords"content="falsetto, parting, duo, trio, pianolesson" />

meta https-equiv="author"content="otitolaiye joshua" />

meta https-equiv="content-language" content="en-us
<link rel ="stylesheet " href="style.css">
_uaact ="ua_232293
urchin tracker ();
</script>
</head>
<body>
<form action-"" method-"">

Yes:
<input type="radio" name="yesorno" value=""> </br>
No:
<input type="radio" name="yesorno1" value=""><br>


<label for="firstname">First name:</label>
<input type="text" id="firstname" name=""> </br> </br>

<label for="lastname">Lastname:</label> 
<input type="text" id="lastname" name=""> </br> </br>
<!-- input elements go in here -->
<p style="color: red">This is a music webpage </p>



Comments:</br>
<textarea rows="30" cols="80"></textarea></br>
<input type="submit" value="Submit">

which song do you want to hear? <br>
<input type="checkbox" name=""> grace and mercy <br>
<input type="checkbox" name=""> family songs <br>
<input type="checkbox" name=""> olorun too daa <br>
<input type="checkbox" name=""> a go blow <br>

<input type="number" min="0" max="50">

<select>

<option value="pianolessons">pianolessons</option>
<option value="voicelessons">voicelessons</option>
<option value="saxophonelessons">saxophonelessons</option>
<form>
  <fieldset>

<legend>Enter the dates of your piano lessons:</legend>

<input type="date" name="day"

Number of days: <input type="number" name="numdays"min="1"max="30">

<br><br>

Name: <input type="text">
</fieldset>

</select>


</form><br>


<h1 style="color:blue;">welcome to my webpage !</h1>
<h2>my name is Julius</h2>
<p>welcome to otitolaiye Juliuswebsite everything you need to know about otito is here</p>
<h3>this is a repository of Julius </h3>
</br>
</br>
<h4>MY PICS </h4>
<p> <img src="snapchat_723806135">   </p>
joshua guf"alt=otito concert
<p> you<strong >must</strong>attend his concerts they inspire young pianist </p>
<p> please click on this link</p>
<br>
<br>
<br>
<!-- This is the start of the html code for the fifth  section and we will start each section with a header tag-->
<h4> see songs albums and playlist</h5>
	<div class = "placeholder">
	    I'm in a div
	</div>


	<div class= "anotherclass">
	I'm in another class
<a href="https://www.joshua adedolapo @gmail.com">
Otitolaiye media channel 1 </a>
<body> alink="#FF0000" link="#900B09" vlink="#900B09">
.......
</body>
<div>
       <img src="static/{{place.title}}.jpg"/>

</div> 

	<ul>
	  <li> concert </li>
	  <li> piano lessons </li>
	  <li> vocal training </li>
	</ul>

	<ol>
	  <li> concert </li>
	  <li> piano lessons </li>
	  <li> vocal training </li>

	</ol>
<table>

<tr>
  <th> the symphony <th>
  <th> the melody   <th>
  <th> the minute   <th>
</tr>

<tr>
  <td> family song  </td>
  <td> jesu mo gbe yin soke </td>
  <td> a go blow </td>
</tr>

<tr>
  <td> grace and mercy album </td>
  <td> fake friends </td>
  <td> olorun too daa</td>
</tr>
</table>

<audio controls autoplay loop>
    <source src="test1.mp3"/>
    <source src="test1.wav"/>
</audio>

<!--

Three standard formats for web browsers are .mp3 .wav and .ogg-->

<video width="640" height="360" controls>
    <source src="videotest.mp4"/>
    <source src="videotest.ogg"/>
</video>

<!--

standard video formats for web browsers are .mp4, webm and .ogg


<video width="640" height="360" controls>
    <source src="videotester.mp4"/>
    <source src="videotester.ogg"/>
</video>

<!--

standard video formats for web browsers are .mp4, webm and .ogg
<p>You can go to:

<h3>You can go to:</h3>

<ul>
 
    {% for destination in destinations %}
    
        {% for destination in destinations %}
   
        <li><a href="{{ destination.path }}">{{ destination.title }}</a></li>
  
{% endfor %}
  
    </ul>

</p>
    
    {% endfor %}
</ul>





</body>
</html>

// HTML 4.01 Strict, HTML 4.01 Transitional, XHTML 1.0 Strict
